<nav class="main-navbar">
  <div class="container">
    <div class="navbar-content">

      <!-- LEFT: BRAND -->
      <div class="navbar-left">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "before_you_go.png", class: "navbar-logo" %>
        <% end %>
      </div>

      <!-- RIGHT: NAV LINKS -->
      <div class="navbar-right">

        <!-- HOME -->
        <%= link_to t("nav.home"), root_path, class: "navbar-link" %>

        <!-- LANGUAGE -->
        <%= link_to "EN", url_for(locale: :en), class: "navbar-link" %>
        <%= link_to "PT", url_for(locale: :"pt-BR"), class: "navbar-link" %>

        <!-- AUTH -->
        <% if user_signed_in? %>

          <div class="navbar-dropdown">
            <span class="navbar-link navbar-link-outline">
              <%= current_user.email %>
            </span>

            <div class="dropdown-menu-custom">
              <%= link_to "Logout",
                destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "dropdown-item-custom" %>
            </div>
          </div>

        <% else %>

          <%= link_to "Login", new_user_session_path, class: "navbar-link navbar-link-outline" %>

          <%= link_to "Get started", new_user_registration_path, class: "navbar-link navbar-link-primary" %>

        <% end %>

      </div>
    </div>
  </div>
</nav>
